.classpath
.project
.settings
.springBeans
.idea
*.iml
*.ipr
*.class
*.iws
nohup.out
*.pyc
rootLogger.log
target
*AntepediaReporter.log
*src/main/java/FreddyTest.java
app/tmp
*app/tmp/*
.buildpath
.DS_Store
*.pyc
*.log
